.app_dark_theme {
    --bg-color: #090949;
    --bg-color-inverted: #e8e8ea;
    --text-color: #efeff8;
    --text-color-inverted: #010110;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
